* {
    /*border: 2px solid black;*/
}

body {
    background-color: dimgrey;
}


/*

div.spacer {
    height: 50px;
}

div.nav {
    background-color: #333;
    rgba(33, 33, 33, .95);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .8);
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 100;
}

div#topNav {
    height: 6vh;
    top: 0;
}

div#topNav a {
    border-bottom: 3px solid #222;
    color: #f2f2f2;
    display: inline-block;
    font-family: guerilla, sans-serif;
    font-size: 18px;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
}

div#topNav a:hover {
    background-color: #ddd;
    border-bottom: 3px solid #FF7100;
    color: black;
}

div#topNav a.fltLeft {
    float: left;
}

div#topNav a#home {
    color: #FF7100;
    font-size: 20px;
    margin: 0;
    padding: 16px 0;
}


div#topNav a#home:hover {
    color: black;
}

div#topNav a h4 {
    margin: 0;
    padding: 0;
}

div#topNav a.fltRight {
    float: right;
}

div#topNav img {
    height: 40px;
    margin: 3px;
    padding: 0;
    width: 40px;
}*/

div.nav {
    background-color: #333;
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 100;
}

div#topNav {
    top: 0;
}

ul li {
    color: #f2f2f2;
    display: inline-block;
    text-align: center;
}
