* {
    /*border: 2px solid black;*/
}

body {
    background-color: dimgrey;
}

h1 {
    color: white;
    margin: 25px;
}

h2 {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    margin: 15px auto;
    padding: 20px;
}

div.spacer {
    height: 50px;
}

div.nav {
    background-color: #333;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .8);
    left: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 100;
}


/*topBar*/

div#topNav {
    height: auto;
    top: 0;
}

div#topNav a {
    border-bottom: 3px solid #222;
    color: #f2f2f2;
    display: inline-block;
    font-family: guerilla, sans-serif;
    font-size: 18px;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
}

div#topNav a:hover {
    background-color: #ddd;
    border-bottom: 3px solid #FF7100;
    color: black;
}

div#topNav a.fltLeft {
    float: left;
}

div#topNav a#home {
    color: #FF7100;
    font-size: 20px;
    /*Font size doesn't work*/
    margin: 0;
    padding: 16px 0;
}


/*See why this margin doesn't work ^^^*/

div#topNav a#home:hover {
    color: black;
}

div#topNav a h4 {
    margin: 0;
    padding: 0;
}

div#topNav a.fltRight {
    float: right;
}

div#topNav img {
    height: 40px;
    margin: 3px;
    padding: 0;
    width: 40px;
}


/*/topBar*/

div.petSec {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

div.petSec h2 {
    font-family: guerilla;
}

div#aPets {
    background-image: url("../imgs/jungleCanopy.jpg");
    background-position: bottom center;
}

div#tPets {
    background-image: url("../imgs/jungleWallpaper.jpg");
    background-position: center;
}

div#aqPets {
    background-image: url("../imgs/waterTexture.jpg");
    background-position: top center;
}


/*Card*/

div.card {
    background-color: whitesmoke;
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgba(1, 34, 106, 0.5);
    display: inline-block;
    height: 350px;
    margin: 50px;
    width: 300px;
}

div.card h3 {
    color: black;
    font-family: guerilla;
    font-size: 30px;
    margin: 10px 0 10px 0;
    text-align: center;
}

div.card img {
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 0 4px 4px rgba(1, 34, 106, 0.5);
    height: 50%;
    margin: 0 30px;
    width: 80%;
}

div.card p {
    font-family: "playtime", serif;
    font-size: 16px;
    font-weight: 600;
    margin: 5px 15px;
    text-align: center;
}

div.card div.buy {
    background-color: #0B44BC;
    border-bottom: 4px solid #012269;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(150, 150, 150, .5);
    float: right;
    height: 30px;
    margin: 10px;
    width: 80px;
}

div.card div.buy:hover {
    background-color: #05318F;
}

div.card div.buy h4 {
    color: yellow;
    margin: 3px auto;
    text-align: center;
}


/*/card*/


/*bottomBar*/

div#bottomNav {
    bottom: 0;
    left: 0;
}

div#bottomNav h5 {
    color: #f2f2f2;
    margin: 0;
    text-align: center;
}


/*/bottomBar*/

@font-face {
    font-family: "guerilla";
    src: url("../fonts/guerilla.otf") format("opentype");
}

@font-face {
    font-family: "playtime";
    src: url("../fonts/playtime.ttf") format("truetype");
}
